# Default ignored files
/../../../:Dynoc/.idea/shelf/
/../../../:Dynoc/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:Dynoc/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:Dynoc/.idea/dataSources/
/../../../:Dynoc/.idea/dataSources.local.xml
